Intl.js: Add RegExp to high-level test for valid language tags (according to grammar in RFC 5646 Section 2.1)

Add RegExp in Intl.js to high-level test for invalid language tags (according to grammar in RFC 5646 Section 2.1): https://tools.ietf.org/html/rfc5646#section-2.1

This work item pertains to fixing two open issues:

* i18n-library-agnostic (ILA) fix for #2604
* part of an ILA fix for #2961 (which pertains to an additional contraint on language tags as defined in ECMA 402 -- see issue for details).

No error should be thrown in the case of a grammatically correct language tag.

ILA fixes for as many issues as possible is preferred because we will have support for two different libs upon completion of #2919.