Intl.js fallback canonicalization of language tags

Follow-on to #2981.

As seen in #2604 it is possible that an i18n library can reject a tag even if it is correct according to https://tools.ietf.org/html/rfc5646#section-2.1

In that case, a fallback "stock canonicalization" should be applied according to ECMA 402 CanonicalizeLanguageTag(https://tc39.github.io/ecma402/#sec-canonicalizelanguagetag) (i.e. RFC 5646 section 4.5), to ensure that the tag returned from `Intl.getCanonicalLocales` is in canonical form, even if a subsequent lookup via e.g. `Intl.DateTimeFormat.supportedLocalesOf` would show that the tag is not supported.

No error should be thrown in the case of a grammatically correct language tag.

Fixed by #4645 